/JavaProject5/nbproject/private/
/JavaProject5/build/
/F1_Exercicio_1/nbproject/private/
/F1_Exercicio_1/build/
/Exercicios_Concluidos/New Folder/Ficha_1_Conceitos_Basicos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_1_Conceitos_Basicos/build/
/Exercicios_Concluidos/New Folder/Ficha_2_Input_Utilizador/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_2_Input_Utilizador/build/
/Exercicios_Concluidos/New Folder/nbproject/private/
/Exercicios_Concluidos/New Folder/build/
/Exercicios_Concluidos/New Folder/Ficha_4_Ciclos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_4_Ciclos/build/
/Exercicios_Concluidos/New Folder/Ficha_5_Strings/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_5_Strings/build/
/Exercicios_Concluidos/New Folder/Ficha_6_Arrays/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_6_Arrays/build/
/Exercicios_Concluidos/New Folder/Ficha_7_Metodos/nbproject/private/
/Exercicios_Concluidos/New Folder/Ficha_7_Metodos/build/
